{% extends "layout.html" %}
{% block content %}
<div class="position">
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend>Create Question</legend>
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.content.label }}
        {{ form.content(class="form-control") }}
      </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit (class='form-button') }}
    </div>
  </form>
</div>
</div>
{% endblock content %}
