{% extends "layout.html" %}

{% block content %}

  <!-- list of assessments -->
  <div class="lecturer-content">
    <div class="assessment-box">
    <div class="lecturer-assessment">
  <h1>Assessments</h3>
    {% for assessment in assessments %}
    <div class="assessment-list">
    <h2>{{ assessment.title }}</h2>
    <p>{{ assessment.description }}</p>
    </div>
    {% endfor %}
    <div class="button-position">
    <a href="{{ url_for('lecturer.create_assessment') }}" class="button-large">Create Assessment</a>
      </div>
  </div>
    </div>
  </div>
{% endblock content %}