body {
  font-family: helvetica, sans-serif;
  background-color: #fff7fe;
}


nav {
  background-color: #fff7fe;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}

nav a:hover {
  background-color: lightgray;
}


.login-form {
  width: 500px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: larger;
  transform: scale(1.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.login-button {
  background-color: #4267b2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.create-account-button {
  background-color: white;
  color: #4267b2;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.or-container {
  text-align: center;
  margin: 20px 0;
}

.or-line {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 60%;
  margin: 0 auto;
}

.or-text {
  background-color: white;
  padding: 0 10px;
  font-size: 14px;
}




.register-button {
  background-color: #4267b2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}


.header {
  color: rgb(241, 5, 5);
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}