<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Assessmint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="./notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
                {% if current_user.role.name == "Student" %}
                <li><a href="{{ url_for('students.index') }}">Home</a></li>
                <li><a href="{{ url_for('students.view_report', id=current_user.id) }}">My Progress</a></li>
                {% else %}
                <li><a href="{{ url_for('teachers.assessments_index') }}">Home</a></li>
                <li><a href="{{ url_for('teachers.cohort_report') }}">Cohort Report</a></li>
                <li><a href="{{ url_for('teachers.student_report') }}">Student Progress</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Home</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.user', username=current_user.username) }}">Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
<div class = 'flash-container'>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
</div>
{% block content %}{% endblock %}
</html>