{% extends 'base.html' %}

{% block content %}

<section class="assessments-section">
    <div class="login-form">
        <h2 class="assessment-details" style="color: red;">
            Submission Deadline {{  moment(assessment.available_to).fromNow(refresh=True) }}
        </h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for i in range(0,10) %}
            
                {# This weird syntax is how you do string lterals in jinja #}
                {% if form["question_" ~ i ~ ""] %}
                <div class="question-container">
                    <p>Q. {{ i + 1 }}</p>
                    <h6>{{ form["question_" ~ i ~ ""].label(class="question-content") }}</h6>
                     

                    <div class="choices-container">
                        {{ form["question_" ~ i ~ ""](class='radio-button') }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {{ form.submit(class='primary-button') }}
        </form>
    </div>
</section>

{% endblock %}
