{% extends 'base.html' %}

{% block content %}

<section class="assessments-section">
    <div class="login-form">
        <h2 class="assessment-details" style="color: red;">
            Submission Deadline {{  moment(assessment.available_to).fromNow(refresh=True) }}
        </h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for i in range(0,10) %}
            
                {# This weird syntax is how you do string lterals in jinja #}
                {% if form["question_" ~ i ~ ""] %}
                <h5>Question {{ i + 1 }}</h5>
                        {{ form["question_" ~ i ~ ""].label }} 
                        {{ form["question_" ~ i ~ ""](class='input-field') }}
                    {% endif %}
                {% endfor %}

            {{ form.submit(class='signup-button') }}
        </form>
    </div>
</section>

{% endblock %}
