{% extends 'base.html' %}

{% block content %}
<section class="assessments-section">
    <h1 class="page-title">Edit Assessment</h1>
    <div class="assessment-form">
        <form method="POST" >
            {{ form.hidden_tag() }}
    
            {{ form.name.label }} 
            {{ form.name(class='input-field') }}
    
            {{ form.module_id.label }} 
            {{ form.module_id(class='input-field') }}
    
            {{ form.description.label }} 
            {{ form.description(class='input-field') }}

            {{ form.assessment_type.label }}
            {{ form.assessment_type(class="radio-button") }}
    
            {{ form.available_from.label(class="summative-only", style="display: none;") }}
            {{ form.available_from(class="summative-only", style="display: none;") }}

            {{ form.available_to.label(class="summative-only", style="display: none;") }}
            {{ form.available_to(class="summative-only", style="display: none;") }}

            {{ form.feedback_from.label(class="summative-only", style="display: none;") }}
            {{ form.feedback_from(class="summative-only", style="display: none;") }}

            {{ form.submit(class='primary-button') }}
        </form>
    </div>
</section>

<script>
    const summativeInputs = document.querySelectorAll('.summative-only');
    const formativeInputs = document.querySelectorAll('.formative-only');
    const radioInputs = document.querySelectorAll('.radio-button');

    console.log(radioInputs[0].children[1].children[0].checked === true)
    if(radioInputs[0].children[1].children[0].checked === true) {
        summativeInputs.forEach(input => {
            input.style.display = "block"
        })
    }

    radioInputs[0].addEventListener('change', (e)=>{
        if(e.target.value === "Formative") {
            [...summativeInputs].forEach(input => {
                input.style.display = "none"
            })
        } else {
            [...summativeInputs].forEach(input => {
                input.style.display = "block"
            })
        }
    })
</script>

{% endblock %}