{% extends 'base.html' %}

{% block content %}

<section class="assessments-section" >
    <h2>{{ assessment.name }}</h2>
    <h5>Number of attemps: {{ attempts|length }}</h5>

    {% for attempt in assessment.attempts %}
        {{ attempt.user.username }}
        <div class="card">
            <h5>User Score: {{ attempt.user_score }} / {{ attempt.total_score }}</h5>
            {% if attempt.user_score >= assessment.pass_mark %}
            <h5>Passed: Pass</h5>
            {% else %}
            <h5>Passed: Fail</h5>
            {% endif %}
        </div>
    {% endfor %}
</section>

{% endblock %}