{% extends 'base.html' %}

{% block content %}

<section>
    <div class="login-form">
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for i in range(1,11) %}
            
                {# This weird syntax is how you do string lterals in jinja #}
                {% if form["question_" ~ i ~ ""] %}
                <h5>Question {{ i }}</h5>
                        {{ form["question_" ~ i ~ ""].label }} 
                        {{ form["question_" ~ i ~ ""](class='input-field') }}
                    {% endif %}
                {% endfor %}

            {{ form.submit(class='signup-button') }}
        </form>
    </div>
</section>

{% endblock %}


"Hello " ~ name ~ "!"