{% extends 'base.html' %}

{% block content %}

<!-- <div class="page-header">
    <h1>Hello, {% if username %}{{ username }}{% else %} New user {% endif %}!</h1>
</div> -->
<section class="center-child">
    <div class="form-container">
        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            {{ form.username.label }} 
            {{ form.username(class='input-field') }}
            {{ form.password.label }} 
            {{ form.password(class='input-field') }}
            {{ form.submit(class='primary-button') }}
        </form>
    </div>
</section>

{% endblock %}
