{% extends "base.html" %}

{% block content %}
    <div class="profile-card">
        <img src="{{ user.avatar(128) }}" class="avatar"><br><br>
            <div class="profile-content">
                <p class="profile-username">{{ user.username }}</p><br>
                {% if user == current_user %}
            
                <p><a href="{{ url_for('auth.edit_profile') }}">Edit your profile</a></p>
            
                {% endif %}

                <h3>Name: {{ user.firstname }} {{ user.lastname }}</h3>
                <h3>Role: {{ user.role.name }}</h3>
                <h3>Email: {{ user.email }}</h3><br>
                {% if user.last_seen %} 
                <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %} 
                {% if user.about_me %}
                <p><h4>About Me: {{ user.about_me }}</h4></p>
                {% endif %}
            </div>
    </div>  
{% endblock %}