.card {
    border: 1px solid var(--dark-color);
    padding: var(--sp-6);
    margin: var(--sp-5) auto;
    border-radius: var(--sp-3);
    max-width: 40rem;
  
    position: relative;
    transform-style: preserve-3d;
    background: var(--light-color);
    border: var(--line-width) solid var(--dark-color);
    margin-bottom: 5rem;
  }
  
  .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: var(--line-width) solid var(--dark-color);
    background-color: var(--primary-color);
    bottom: -18px;
    right: -18px;
    border-radius:var(--sp-3);
    transform: translateZ(-1px);
    box-sizing: content-box; /* Only if you have some reset that makes everything border-box */
  }
  
  .card-title a {
    color: var(--dark-color);
    text-decoration: none;

  }

  .card h2 {
    margin: var(--sp-4) 0;

  }

  .card h6 {
    margin: var(--sp-2) 0;

  }

  .card-title a:hover {
    color: var(--primary-hover);
    text-decoration: none;
  }

  .info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time-info {
    margin: var(--sp-5) 0;
  }

  .highlight {
    color: var(--primary-hover);
  }

  .time-row {
    display: flex;
    justify-content: space-between;
  }


