{% extends 'base.html' %}

{% block content %}

<section class="assessments-section" >
    <form action={{ url_for('teachers.new_question') }} method="get">
        <button type="submit" class="primary-button">+ Create Question</button>
    </form>
    
    {% for question in questions %}
        <div class="card">
            <h2 class="card-title">
                <a href={{ url_for('teachers.show_question', id=question.id) }}>{{ question.title}}</a>
            </h2>
            <p>{{ question.content}}</p>

            <div class="buttons-container">
                <form action={{ url_for('teachers.edit_question', id=question.id) }} method="POST">
                    <button type="submit" class="secondary-button">Edit</button>
                </form>
                <form action={{ url_for('teachers.show_question', id=question.id) }} method="POST">
                    <button type="submit" class="secondary-button">Delete</button>
                </form>
            </div>
    
        </div>
    {% endfor %}

</section>

{% endblock %}