{% extends "layout.html" %}

{% block content %}

  <!-- list of assessments -->
  <div class="position">
    <main class="lecturer-assessment">
  <h1>Assessments</h3>
    {% for assessment in assessments %}
    {% set view_url = url_for('lecturer.view_assessment', assessment_id=assessment.id) %}
    <article class="view-assessment" onclick="location.href='{{ view_url }}';" style="cursor: pointer;">
    <h2>{{ assessment.title }}</h2>
    <p>{{ assessment.description }}</p>
    <p>Type: {{ assessment.assessment_type }}</p> <!-- Added line to show assessment type -->
    </article>
    {% endfor %}
    <div class="assessment-button-position">
    <a href="{{ url_for('lecturer.create_assessment') }}" class="assessment-button">Create Assessment</a>
      </div>
    </main>
  </div>
{% endblock content %}
