{% extends 'base.html' %}

{% block content %}

<section>
    <div class="login-form">
        <form method="POST">
            {{ form.hidden_tag() }}
    
            {{ form.name.label }} 
            {{ form.name(class='input-field') }}
    
            {{ form.module.label }} 
            {{ form.module(class='input-field') }}
    
            {{ form.description.label }} 
            {{ form.description(class='input-field') }}

            {{ form.assessment_type.label }}
            {{ form.assessment_type(class="radio-botton") }}
    
            {{ form.visible.label }}
            {{ form.visible }}
                {{ form.submit(class='signup-button') }}
        </form>
    </div>
</section>

{% endblock %}