{% extends 'base.html' %}

{% block content %}

<div class="assessment-formx">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-sectionx">
            <label for="{{ form.name.id }}" class="form-labelx">Assessment Name:</label>
            {{ form.name(class='input-fieldx form-inputx') }}
        </div>

        <div class="form-sectionx">
            <label for="{{ form.module.id }}" class="form-labelx">Module:</label>
            {{ form.module(class='input-fieldx form-inputx') }}
        </div>

        <div class="form-sectionx">
            <label for="{{ form.description.id }}" class="form-labelx">Description:</label>
            {{ form.description(class='input-fieldx form-inputx') }}
        </div>

        <div class="form-sectionx">
            <label for="{{ form.assessment_type.id }}" class="form-labelx">Assessment Type:</label>
            <div class="radio-buttonsx form-inputx">
                {{ form.assessment_type(class="radio-buttonx") }}
            </div>
        </div>

        <div class="form-sectionx">
            <label for="{{ form.visible.id }}" class="form-labelx">Visible:</label>
            <div class="radio-buttonsx form-inputx">
                {{ form.visible(class='form-inputx') }}
            </div>
            
        </div>

        <div class="form-sectionx">
            {{ form.submit(class='submit-buttonx') }}
        </div>
    </form>
</div>

{% endblock %}
