  body {
    background: #9baec732;
    color: #667992;
    margin: 0;
    height: 100vh;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9baec759;
    font-family: 'Tiro Devanagari Marathi', sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding: 20px;
    /*add navbar box shadow bottom only*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  a {
    text-decoration: none;
    list-style-type: none;
    color: #52647b;
  }

  .nav-right {
    margin: 0 20px;
  }

  .nav-left {
    margin-right: 55%;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 30vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Tiro Devanagari Marathi', sans-serif;
    font-size: 1em;
    font-weight: 400;
  }

  .form-button {
    max-width: fit-content;
    background-color: #667992;
    border: none;
    color: white;
    padding: 5px 16px;
    margin-top: 5px;
    font-family: 'Tiro Devanagari Marathi', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
  }

  .form-button:hover {
    background-color: #ffffff;
    border: 1px solid #667992;
    color: #667992;
    cursor: pointer;
  }

  .alert-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(130, 232, 98);
    color: #667992;
  }

  .alert-unsuccessful {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(225, 100, 96);
    color: #667992;
  }

  .assessment-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 40vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .assessment-button {
    max-width: fit-content;
    background-color: #667992;
    border: none;
    color: white;
    padding: 10px 16px;
    margin-top: 5px;
    font-family: 'Tiro Devanagari Marathi', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
  }

  .assessment-button:hover {
    background-color: #ffffff;
    border: 1px solid #667992;
    color: #667992;
    cursor: pointer;
  }

  .lecturer-assessment {
    display: inline-block;
    text-align: left;
  }

  .lecturer-assessment h1 {
    font-family: 'Tiro Devanagari Marathi', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  .view-assessment {
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #667992;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 60vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .view-questions {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 60vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .view-assessment h2 {
    font-family: 'Tiro Devanagari Marathi', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
  }

  .assessment-button {
    background-color: #667992;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 5px;
  }

  .assessment-button:hover {
    background-color: #ffffff;
    border: 1px solid #667992;
    color: #667992;
  }

  .edit-assessment-button {
    color: #667992;
    padding: 5px 16px;
    margin-top: 0px;
  }
  .assessment-button-position {
    padding-top: 10px;
  }